@page
@model CodeJam.Pages.CorrectModel
@{
    ViewData["Title"] = "Correct";
}

<img src="https://cdn1.iconfinder.com/data/icons/interface-elements/32/accept-circle-512.png" />
<br />
<h2>
    <a href="/">Atgal</a>
</h2>

