@page
@model CodeJam.Pages.DazymasModel
@{
    ViewData["Title"] = "Dazymas";
}

<div style="text-align:left">
    <h2>Skaičių dažymo taisyklės</h2>
    <p>
        Turime N ilgio eilę sveikų skaičių <br />
        pvz: <br />
        N=4 <br />
        <span style="font-size:large">1 6 5 2</span> <br />

        Visų eilėje skaičių suma neviršys Int32.MAX konstantos - 2,147,483,647 <br />
        Visi skaičiai teigiami
    </p>

    <p>
        per pirma ėjimą: <br />
        1. jūs nudažote bet kurį skaičių eilėje <br />
        2. nenudažytas pirmasis arba paskutinis eilės skaičius sunaikinamas "nežinomų jėgų" ir eilė sutrumpėja <br />
        <span style="font-size:large">1 6<span style="background-color:#ff2d2d"> 5 </span><span style="text-decoration:line-through;color:gray">2</span></span>
    </p>
    <p>
        visuose sekančiuose ėjimuose: <br />
        a. jūs vėl dažote skaičių, bet tik esantį greta (šalia) nudažyto skaičiaus <br />
        b. vėl kraštinis nenudažytas skaičius sunaikinamas ir eilė vis sutrumpėja <br />
        <span style="font-size:large"><span style="text-decoration:line-through;color:gray">1</span><span style="background-color:#ff2d2d"> 6 5 </span><span style="text-decoration:line-through;color:gray">2</span></span>
    </p>

    <p>
        ėjimai kartojasi tol, kol dar yra nenudažytų ir nesunaikintų skaičių eilėje. <br />
        <br />
        <br />
        <h4>užduotis:</h4>
        kokią didžiausią sumą jūs galite nudažyti is duotos eilės, taikant aprašytas taisykles? <br />
        <br />
        <h4>Pavyzdžiai:</h4>
        <span style="background-color:#ff2d2d">5 6 </span><span style="text-decoration:line-through;color:gray">1 2</span> atveju atsakymas: 11 <br />
        <br />
        <span style="text-decoration:line-through;color:gray">1</span><span style="background-color:#ff2d2d"> 2 3 </span><span style="text-decoration:line-through;color:gray">1</span> atsakymas: 5 <br />
        <br />
        <span style="text-decoration:line-through;color:gray">7 2 1</span><span style="background-color:#ff2d2d"> 9 1 3</span> atsakymas: 13 <br />
        <br />
        <a download href="~/files/dazymas.txt">Nuorodoje</a> duotas failas kur pirmoje eilutėje nurodytas (5) skaičius indikuoja kiek bus užduoties atvejų. <br />
        Visos sekančios (šiuo atveju 5 eilutės) yra duotos eilės, kurias reikės analizuoti pagal aprašytas taisykles. <br />
        5 <br />
        1 2 4 <br />
        1 2 3 4 5 <br />
        8 8 8 7 8 8 <br />
        9 8 7 6 4 <br />
        125 130 180 <br />
        <br />
        Atsakymų tekstas turi būti įklijuotas į atsakymų laukelį pagrindiniame puslapyje, šiuo atveju būtų: <br />
        6<br />
        12<br />
        24<br />
        24<br />
        310<br />
    </p>
</div>




