@page
@model CodeJam.Pages.IncorrectModel
@{
    ViewData["Title"] = "Incorrect";
}

<img src="https://cdn1.iconfinder.com/data/icons/interface-elements/32/remove-circle-512.png" />
<h2>
    <a style="display:inline-block" href="/">Atgal</a>
</h2>

