@page
@model CodeJam.Pages.SnieguoleModel
@{
    ViewData["Title"] = "Snieguole";
}

<h2>Snieguole</h2>

<p class="col-md-6">Snieguole moters dienos proga nuo kievieno is septyniu nykstuku gauna po vienoda skaiciu tulpiu ir kiekvienais metais užsirašo, kiek iš viso gavo. Būdama nepataisoma valiūkė, ji užrašo tą skaičių n-taine sistema 😀 gauni listą stringų ir turi pasakyt ar ten gali būti skaičius, kiek gėlių gavo snieguolė, ar neįmanoma</p>

