@page
@model CodeJam.Pages.SnieguoleModel
@{
    ViewData["Title"] = "Septyntainis nesusipratimas";
}

<h2>Septyntainis nesusipratimas</h2>

<p>Artėja moters diena ir septyni nykštukai nori pasveikinti Snieguolę su šia nuostabia proga ir padovanoti po puokštę tulpių. 
    Ilgai negalvoję, jie susitarė, kad kiekvienoje puokštėje bus po vienodai gėlių. 
    Suskaičiavę, kad iš viso reikės <span style="font-weight:bold">K</span> tulpių, jie pavedė Gudručiui prisiminti šį skaičių. 
    Gudrutis, būdamas labai išmoningas nykštukas, užrašė jį <span style="font-weight:bold">N</span>-taine sistema. 
    Šventė jau rytoj, ir Kvailutis, kuriam teko pareiga priskinti tulpių ir padalinti septyniems nykštukams po lygiai, 
    varto Gudručio užrašus ieškodamas skaičiaus <span style="font-weight:bold">K</span>.
    Bėda, kad jis nežino, kuris tai skaičius. Padėkite Kvailučiui patikrinti, kurie skaičiai gali būti <span style="font-weight:bold">K</span>.</p>

<h4>Užduotis</h4>
<p>Pirmoje eilutėje yra skaičius T, nurodantis testų skaičių. Po to seka T eilučių, o kiekvienoje iš jų - tekstas, kuriame gali būti simboliai '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'.</p>

<h4>Atsakymas</h4>
<p>Kiekvienam testui, parašykite po vieną eilutę "Testas #x: y", 
    kur x yra testo numeris (pradedant nuo 1), o y yra tekstas "TAIP", 
    jei įmanoma, kad duotas skaičius gali būti K, kurį septyni nykštukai vienodai pasidalintų, arba "NE" jei taip būti negali.</p>

<h4>Limitai</h4>
<pre>1 < N < 17
1 < K < 3000000000000000000</pre>

<h4>Pavyzdys</h4>

<h5>Užduotis</h5>
<pre>3
12
101
D</pre>

<h5>Atsakymas</h5>
<pre>
Testas #1: TAIP
Testas #2: NE
Testas #3: TAIP</pre>
<p>Pirmu atveju '12' penktainėje sistemoje yra 7, taigi nykštukai gali dovanoti po 1 tulpę.
Antru atveju '101' nei vienoje sistemoje nuo dvejetainės iki šešioliktainės nėra lygus skaičiui, kuris dalijasi iš 7, todėl atsakymas neigiamas.
Trečiu atveju 'E' yra keturiolika šešioliktainėje sistemoje - gauname po dvi tulpes puokštėje.</p>
<p>Užduoties atvejų failą galite parsisiųsti - <a download href="~/files/geles.txt">ČIA</a></p>